@layer components {
  .Button--root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);
    font-weight: var(--font-weight-medium);
    border-radius: var(--radius-md);
    border: 1px solid var(--button-border-color, transparent);
    cursor: pointer;
    white-space: nowrap;
    background: var(--button-bg-color, var(--color-bg));
    color: var(--button-color, var(--color-text));

    transition:
      background-color var(--transition-fast),
      border-color var(--transition-fast),
      box-shadow var(--transition-fast);
  }

  .Button--root:hover {
    background: var(--button-bg-color-hover, var(--button-bg-color));
  }

  .Button--root:active{
    border-color: var(--color-primary-active);
  }

  .Button--primary {
    --button-bg-color: var(--color-primary);
    --button-color: var(--color-bg);
    --button-bg-color-hover: var(--color-primary-hover);
  }

  .Button--secondary {
    --button-bg-color: var(--color-bg-subtle);
    --button-color: var(--color-text);
    --button-bg-color-hover: var(--color-bg-muted);
    --button-border-color: var(--color-border);
  }

  .Button--ghost {
    --button-bg-color: transparent;
    --button-color: var(--color-text);
    --button-bg-color-hover: var(--color-bg-muted);
  }
}

@layer component-overrides {
  .Button--root:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  .Button--sm {
    padding-block: var(--space-0_5);
    padding-inline: var(--space-1_5);
    font-size: var(--text-1_75);
  }

  .Button--md {
    padding-block: var(--space-1);
    padding-inline: var(--space-2);
    font-size: var(--text-2);
  }

  .Button--lg {
    padding-block: var(--space-1_5);
    padding-inline: var(--space-3);
    font-size: var(--text-2_25);
  }

  .Button--root:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;

    &:hover {
      background: var(--button-bg-color, var(--color-bg));
    }
    
    &:active {
      border-color: var(--button-border-color, transparent);
    }
  }
}
