@layer utils {
  [class*="d-flex"] {
    display: flex;
  }
  :where([class*="d-flex"]) {
    gap: 0;
  }
  [class*="d-flex"][class*="dir-col"] {
    flex-direction: column;
  }
  [class*="d-flex"][class*="f-wrap"] {
    flex-wrap: wrap;
  }
  [class*="d-flex"][class*="min-0"] {
    min-width: 0;
  }

  [class*="d-grid"],
  [class*="col-container"] {
    display: grid;
    --layout-gap: var(--space-2);
  }

  :where([class*="d-grid"], [class*="col-container"]) {
    gap: var(--space-2);
  }
  [class*="d-grid"] > * {
    min-width: 0;
  }

  [class*="col-container"] {
    grid-template-columns: var(--col-template, minmax(0, 1fr));
  }
  [class*="col-container:2"] {
    --col-template: minmax(0, 1fr) minmax(0, 1fr);
  }
  [class*="col-container:3"] {
    --col-template: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
  [class*="col-container:4"] {
    --col-template: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
  [class*="col-container"][class*="with-divider"] > *:not(:last-child) {
    position: relative;
  }
  [class*="col-container"][class*="with-divider"] > *:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: calc(var(--layout-gap) / 2 * -1 - 1px);
    width: 1px;
    height: 100%;
    background: var(--divider-color, var(--color-border));
  }
  [class*="col-container:auto"] {
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-col-min-width, 0), 1fr)
    );
  }

  [class*="ali-start"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    align-items: flex-start;
  }
  [class*="ali-center"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    align-items: center;
  }
  [class*="ali-end"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    align-items: flex-end;
  }
  [class*="ali-baseline"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    align-items: baseline;
  }
  [class*="ali-stretch"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    align-items: stretch;
  }
  [class*="jc-start"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    justify-content: flex-start;
  }
  [class*="jc-center"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    justify-content: center;
  }
  [class*="jc-end"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    justify-content: flex-end;
  }
  [class*="jc-sb"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    justify-content: space-between;
  }
  [class*="jc-se"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    justify-content: space-evenly;
  }
  [class*="gap-0_5"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-0_5);
  }
  [class*="gap-1"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-1);
  }
  [class*="gap-1_5"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-1_5);
  }
  [class*="gap-2"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-2);
  }
  [class*="gap-2_5"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-2_5);
  }
  [class*="gap-3"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-3);
  }
  [class*="gap-4"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-4);
  }
  [class*="gap-5"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-5);
  }
  [class*="gap-6"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-6);
  }
  [class*="gap-8"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-8);
  }
  [class*="gap-10"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: var(--space-10);
  }
  [class*="gap-0_25"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: calc(var(--base-size) * 0.25);
  }
  [class*="no-gap"]:where(
    [class*="d-flex"],
    [class*="d-grid"],
    [class*="col-container"]
  ) {
    gap: 0;
  }

  [class*="gap-0_5"][class*="col-container"] {
    --layout-gap: var(--space-0_5);
  }
  [class*="gap-1"][class*="col-container"] {
    --layout-gap: var(--space-1);
  }
  [class*="gap-2"][class*="col-container"] {
    --layout-gap: var(--space-2);
  }
  [class*="gap-3"][class*="col-container"] {
    --layout-gap: var(--space-3);
  }
  [class*="gap-6"][class*="col-container"] {
    --layout-gap: var(--space-6);
  }
  [class*="gap-8"][class*="col-container"] {
    --layout-gap: var(--space-8);
  }
  [class*="gap-0_25"][class*="col-container"] {
    --layout-gap: calc(var(--base-size) * 0.25);
  }
  [class*="no-gap"][class*="col-container"] {
    --layout-gap: 1px;
  }
}
