@layer pages {
  .ScopedStylesPage--root {
    max-width: 900px;
  }

  .ScopedStylesPage--list {
    margin-top: var(--space-3);
    padding-left: var(--space-4);
  }

  .ScopedStylesPage--list li {
    margin-bottom: var(--space-3);
    line-height: 1.6;
  }
}
