@layer components {
  .Navbar--root {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: var(--space-3);
    block-size: var(--navbar-height);
    padding-inline: var(--space-2);
    background-color: var(--color-surface);
    border-block-end: 1px solid var(--color-border);
  }
  
  .Navbar--left-section {
    justify-self: start;
  }
  
  .Navbar--right-section {
    justify-self: end;
  }

  .Navbar--logo {
    inline-size: var(--space-3);
    block-size: var(--space-3);
  }

  @media (max-width: 799px) {
    .Navbar--root {
      grid-template-columns: 1fr auto;
    }
  }
}
