@layer components {
  .Navbar--root {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-3);
    block-size: var(--navbar-height);
    padding-inline: var(--space-2);
    background-color: var(--color-surface);
    border-block-end: 1px solid var(--color-border);
  }

  .Navbar--logo {
    inline-size: var(--space-3);
    block-size: var(--space-3);
  }  
}

@layer component-overrides {
  @media (min-width: 640px) {
    .Navbar--menu-button {
      display: none;
    }
  }
}
